/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5% ;
	height: 100vh;
}
/* 
* {
	box-sizing: border-box;
} */

#body body {
    margin: 0;
    padding: 0;
	width: 100%;
	background-color: #F4F4F4;
    height: 100vh !important;
};

#app {
	width: 100%;
	height: 100% !important;
	margin: 0 auto;
	background-color: #F4F4F4;
} 

.no-underline:hover {
	border-radius: 0.75rem;
}

	a.hover-border:hover {
		border: .225rem solid #CDECFF ;
	}

.threed-text {
	text-shadow:   1px 0px rgb(57, 69, 70), 0px 1px 4px #ccc,
               2px 1px #eee, 1px 2px 4px #ccc,
               3px 2px #eee, 2px 3px 4px #ccc,
               4px 3px #eee, 3px 4px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px 10px #ccc,
               8px 7px #eee, 7px 8px 10px #ccc,
               8px 8px #eee;
}

.no-shadow {
	text-shadow: none;
}

.bg-image {
	background: url("../assets/browncamo.jpeg") center ;
}

.element {
	margin: 0 auto;
	animation-name: stretch;
	animation-duration: 1.5s; 
	animation-timing-function: ease-out; 
	animation-delay: 0.5s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	background-color:  rgb(129, 123, 123);
	animation-play-state: running;
}

@keyframes bounceIn {
	0% {
		transform: scale(0.1);
		opacity: 0;
	};

	60% {
		transform: scale(1.2);
		opacity: 1;
	}

	100% {
		transform: scale(1)
	}
}

.bounceInElement {
	animation-name: bounceIn;
	animation-duration: 2s;
	

}
  
@keyframes stretch {
	0% {
		background-color: rgb(129, 123, 123);
	}
	25% {
		background-color: rgb(185, 165, 207);
	}
	50% {
		background-color: rgb(150, 84, 146);
	}
	75% {
		background-color: rgb(90, 79, 89);
	}
	100% {
		background-color: rgb(129, 123, 123);
	}
}

  .element2 {
	animation: stretch 
	  pulse 3s ease infinite alternate, 
	  nudge 5s linear infinite alternate;
  }